<body>
  
    <div class="container">
      <form>
        <h2>registration</h2>
        <div class="content">
          <div class="input-box">
            <label for="FullName">Full Name</label>
            <input type="text" placeholder="Full Name">
            </div>
            <div class="input-box">
              <label for="Username"> User name</label>
              <input type="text" placeholder="User name">
            </div>
            <div class="input-box">
              <label for="email">E-mail</label>
              <input type="email" placeholder="E-mail">
            </div>
            <div class="input-box">
              <label for="tel">Phone-number</label>
              <input type="tel" placeholder="Phone-number">
            </div>
            <div class="input-box">
              <label for="password">password</label>
              <input type="password" placeholder="password">
            </div>
            <div class="input-box">
              <label for="password">confirm-password</label>
              <input type="password" placeholder="confirm-password">
            </div>
            <span class="gender-title">Gender</span>
            <div class="gender-category">
                <input type="radio" name="gender" id="male">
                <label for="gender">male</label>
                <input type="radio" name="gender" id="female">
                <label for="gender">female</label>
              </div>
            </div>
            <div class="button-container">
              <button type="submit">register</button>
            </div>
            <div class="alert">
              <p>By clicking sign up, you agree to our  <a href="#"></a> terms,
                Privacy Policy <a href="#"></a> and
                cookies policy <a href="#"></a>.
                you may receive notifications from us and can opt at any time</p>
              </div>
            </form>
          </div>
        </body>