<div class="d-flex ">
    <div class="p-2 flex-fill ">
    <button type="button" class="btn btn-warning btn-sm">
    <i class="bi bi-cloud-arrow-up-fill"></i>&nbsp;
    Importer
    </button>
    </div>
    <div class="p-2 flex-fill ">
    <button type="button" class="btn btn-success btn-sm">
    <i class="bi bi-cloud-arrow-down-fill"></i>&nbsp;
    Exporter
    </button></div>
    <div class="p-2 flex-fill ">
    <button type="button" class="btn btn-primary btn-sm">
    <i class="bi bi-cloud-plus-fill"></i>&nbsp;
    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" [routerLink]="['/nouvel-equipement']">Nouveau</a> 
    </button>
    </div>  
    </div>